@{
    ViewData["Title"] = "About";
}

    <h2 style="margin-left:250px;margin-bottom:50px;margin-top:50px;color:darkred;">Hakkımızda</h2>
<pre style="background-color: #00fffff; border: 2px dashed rgb(235, 243, 251); overflow: auto; padding: 5px; text-align: justify; width:75%;
 margin-left:200px;margin-top:100px">

Dyg Mağazaları, kirtasiye konusundaki uzmanlığı, sunduğu kaliteli markalar ve ürün çeşitleri sayesinde,okul alışverişinin en 
keyifli, vazgeçilmez adresleridir.Mağazalarında öğrenci ve velilerin beklentilerini en iyi şekilde karşılamayı başaran Nezih,
eğitim kurumlarıyla yürüttüğü anlaşmalı hizmetlerini de geliştirerek sürdürmektedir.İstanbul’un seçkin eğitim kurumlarının 
öğrencilerinin okul dönemlerindeki kitap ve kırtasiye ihtiyaçlarını toplu olarak, eksiksiz hizmet anlayışıyla karşılamaktadır.
<span style="font-size: 18px; line-height: 50px;">
    </span></pre>
