@{
    ViewData["Title"] = "Contact";
}
<style>
    .row{
        margin-left:250px;
        margin-top:100px;                                                                                                                    
    }                                       
    h2{
        color:darkred;
        margin-left:350px;
    }
</style>
<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <h2><b>İLETİŞİM</b></h2>
            Buraya harita gelecek
        <p>Kadıköy/İSTANBUL</p>
    </div>
</div>