
  <section class="callout" style="background-image:url('../images/bg-masthead.png');">
    
    <div class="container text-center">
        <h2 class="mx-auto mb-5">
                
            <em>DYG AİLESİNE</em>
             Hoşgeldiniz !!
        </h2>
        <a class="btn btn-primary btn-xl" asp-controller="Categories" asp-action="Index">Kategorilere Hızlıca Göz Atın</a>
    </div>
</section>
  
